.browser-icon {
    width: 50px;
    height: 50px;
    margin-right:10px;
}

.prime-btn {
    padding: 10px 14px !important;
    border-radius: 5px !important;
} 

.donate-button{
    padding: 10px 15px !important;
    font-size: 24px !important;
    height: auto !important;
    widows: auto !important;
}