.browser-icon {
    width: 40px;
    height: 40px;
    margin-right:10px;
}

.prime-btn, .youtube-watch-btn {
    padding: 10px 14px !important;
    border-radius: 5px !important;
    font-size: 20px !important;
    margin-right: 20px !important;
}

.youtube-watch-btn {
    padding: 15px !important;
}
.youtube-watch-btn i {
    margin-right: 10px !important;
    font-size: 28px !important;
    vertical-align: middle;
}

.donate-button{
    padding: 10px 15px !important;
    font-size: 24px !important;
    height: auto !important;
    widows: auto !important;
}
