@import './variable.scss';

.rb-zeplin-ruller {
    width: 1px;
    height: 100%;
    position: absolute;
    z-index: $topZindex;
    display: block;
    top: 0;
    left: 0;

    &-left {
        border-left: 1px dashed $border-color;
        width: 1px;
        height: 100%;
        height: 100vh;
    }

    &-right {
        border-left: 1px dashed $border-color;
        width: 1px;
        height: 100%;
        height: 100vh;
    }

    &-top {
        border-top: 1px dashed $border-color;
        width: 100%;
        height: 1px;
    }

    &-bottom {
        border-top: 1px dashed $border-color;
        width: 100%;
        height: 1px;
    }
}

.rb-zeplin-distance-line {
    top: 0;
    left: 0;
    position: absolute;
    z-index: $topZindex !important;

    &-vertical {
        border-left: 1px solid $border-color;
    }
    &-vertical::before {
        @include arrow;
        top: 0;
        left: -6px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $border-color;
    }
    &-vertical::after {
        @include arrow;
        bottom: 0;
        left: -6px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $border-color;
    }

    &-horizontal {
        border-top: 1px solid $border-color;
    }
    &-horizontal::before {
        @include arrow;
        left: 0;
        top: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid $border-color;
    }
    &-horizontal::after {
        @include arrow;
        right: 0;
        top: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $border-color;
    }
}

.rb-zeplin-no-arrow::after,
.rb-zeplin-no-arrow::before {
    display: none;
}

.rb-zeplin-guide-distance,
.rb-zeplin-ruler-label {
    background-color: $white;
    box-shadow: 0 1px 1px 1px $dark;
    padding: 3px 5px;
    border-radius: 2px;
    color: $border-color;
    font-weight: bold;
    font-size: $label;
    font-family: Arial, Helvetica, sans-serif !important;
    position: absolute;
    &-vertical {
        top: 20px;
        left: 20px;
    }
    &-horizontal {
        top: 20px;
        left: 20px;
    }
}

.rb-smart-ruler-shape-selected {
    background-color: $border-color;
}

.rb-smart-ruler-shape-focused {
    background-color: $border-color-active;
}

.rb-smart-ruller-shape-line-left,
.rb-smart-ruller-shape-line-top,
.rb-smart-ruller-shape-line-right,
.rb-smart-ruller-shape-line-bottom {
    position: absolute;
    z-index: $topZindex;
    width: 1px;
    height: 1px;
    content: '';
    display: block;
    background-color: inherit;
}

.rb-smart-ruler-shape-selected {
    .rb-smart-ruller-shape-line-top,
    .rb-smart-ruller-shape-line-bottom {
        &::before,
        &::after {
            content: '';
            width: 4px;
            height: 4px;
            display: block;
            background: $white;
            border: 1px solid $border-color;
            border-radius: 50%;
            position: absolute;
            top: -3px;
            z-index: 2;
        }

        &::before {
            left: -3px;
        }

        &::after {
            right: -3px;
        }
    }
}
