$border-color: #ff5722;
$border-color-active: #2196f3;
$white: #ffffff;
$label-size: 16px;
$dark: rgba(15, 15, 15, 0.4);
$label: 12px;
$topZindex: 100000000000;


@mixin arrow {
    width: 0;
    height: 0;
    display: block;
    content: '';
    position: absolute;
}
